@import '../vars/index';

@keyframes li-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes li-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes li-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.li-fade-enter-active {
  animation: $animation-duration-base li-fade-in both $animation-timing-function-enter;
}

.li-fade-leave-active {
  animation: $animation-duration-base li-fade-out both $animation-timing-function-leave;
}